.input-container {
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.input-container label {
    width: 150px;
    margin-right: 20px;
    font-size: 18px;
}

.input-container input {
    width: 300px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
}