/* General Reset */
body {
    margin: 0; /* הסרת מרווחים */
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #2d06bb52, #07aba0); /* רקע אחיד לכל העמוד */
    color: #333; /* צבע טקסט */
}


/* Navigation Links */
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* מרווח גדול יותר בין הכפתורים */
    margin: 40px auto;
    max-width: 800px; /* מתאים לגדלים גדולים יותר */
}
/* Popup container styles */
.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 2px solid green;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    width: 25%;
}

/* Popup title styles */
.popup-title {
    color: green;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Popup details list */
.popup-details {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 10px 0;
}