/* General Reset */
body {
    margin: 0; /* הסרת מרווחים */
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(180deg, #2d06bb52, #07aba0); /* רקע אחיד לכל העמוד */
    color: #333; /* צבע טקסט */
}


/* Navigation Links */
.links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* מרווח גדול יותר בין הכפתורים */
    margin: 40px auto;
    max-width: 800px; /* מתאים לגדלים גדולים יותר */
}
