table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid #333;
    border-radius: 5px;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
}

th {
    font-weight: bold;
}