<mat-card class="flight-card-container">
  <img mat-card-image [src]="flight.imageUrl" alt="Destination Image" class="flight-image"/>

  <mat-card-header>
    <mat-card-title>
      {{ flight.origin }} to {{ flight.destination }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Boarding: </strong> {{ flight.boarding | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Landing: </strong> {{ flight.landing | date: 'dd/MM/yyyy HH:mm' }}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <div [routerLink]="['/book-flight', flight.flightNo]" class="button-container">
      <button mat-raised-button color="primary">Book Now</button>
    </div>
  </mat-card-actions>
</mat-card>
