<div class="form-container" *ngIf="!isLoading; else loadingTemplate">
  <mat-card class="form-card">
    <h2 class="glitter-text">Edit Flight</h2>
    <form #editFlightForm="ngForm" (ngSubmit)="saveFlight()">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>ID</mat-label>
          <input matInput name="id" [(ngModel)]="flight.id" disabled />
        </mat-form-field>
      </div>

      <!-- Flight No -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Flight Number</mat-label>
          <input matInput name="flightNo" required [(ngModel)]="flight.flightNo" #flightNo="ngModel"
            pattern="^[a-zA-Z0-9]+$" disabled />
        </mat-form-field>
      </div>

      <!-- Origin -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Origin</mat-label>
          <input matInput [value]="flight.origin" disabled />
        </mat-form-field>
      </div>

      <!-- Destination -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Destination</mat-label>
          <input matInput [value]="flight.destination" disabled />
        </mat-form-field>
      </div>


      <!-- Boarding Date -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Boarding Date</mat-label>
          <input matInput [matDatepicker]="boardingPicker" name="boardingDate" required [(ngModel)]="boardingDate"
            #boardingDateInput="ngModel" />
          <mat-datepicker-toggle matSuffix [for]="boardingPicker"></mat-datepicker-toggle>
          <mat-datepicker #boardingPicker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="boardingDateInput.invalid && boardingDateInput.touched">
          <span *ngIf="boardingDateInput.errors?.['required']">Boarding date is required.</span>
        </mat-error>
      </div>

      <!-- Boarding Time -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Boarding Time</mat-label>
          <input matInput [matTimepicker]="boardingTimePicker" name="boardingTime" required [(ngModel)]="boardingTime"
            #boardingTimeInput="ngModel">
          <mat-timepicker-toggle matSuffix [for]="boardingTimePicker"></mat-timepicker-toggle>
          <mat-timepicker #boardingTimePicker></mat-timepicker>
        </mat-form-field>
        <mat-error *ngIf="boardingTimeInput.invalid && boardingTimeInput.touched">
          Boarding time is required.
        </mat-error>
      </div>

      <!-- Landing Date -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Landing Date</mat-label>
          <input matInput [matDatepicker]="landingPicker" name="landingDate" required [(ngModel)]="landingDate"
            #landingDateInput="ngModel" [min]="boardingDate || today" />
          <mat-datepicker-toggle matSuffix [for]="landingPicker"></mat-datepicker-toggle>
          <mat-datepicker #landingPicker></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="landingDateInput.invalid && landingDateInput.touched">
          <span *ngIf="landingDateInput.errors?.['required']">Landing date is required.</span>
        </mat-error>
        <mat-error *ngIf="landingDateInput.touched && isLandingDateInvalid()">
          Landing date must be after boarding date.
        </mat-error>
      </div>

      <!-- Landing Time -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Landing Time</mat-label>
          <input matInput [matTimepicker]="landingTimePicker" name="landingTime" required [(ngModel)]="landingTime"
            #landingTimeInput="ngModel">
          <mat-timepicker-toggle matSuffix [for]="landingTimePicker"></mat-timepicker-toggle>
          <mat-timepicker #landingTimePicker></mat-timepicker>
        </mat-form-field>
        <mat-error *ngIf="landingTimeInput.invalid && landingTimeInput.touched">
          Landing time is required.
        </mat-error>
        <mat-error *ngIf="landingTimeInput.touched && isLandingTimeInvalid()">
          Landing time must be after boarding time.
        </mat-error>
      </div>

      <!-- No. of Seats -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>No. of Seats</mat-label>
          <input matInput name="seats" required [(ngModel)]="flight.seats" #seats="ngModel" type="number" min="0" />
        </mat-form-field>
        <mat-error *ngIf="seats.invalid && seats.touched">
          <span *ngIf="seats.errors?.['required']">Number of seats is required.</span>
          <span *ngIf="seats.errors?.['min']">Number of seats must be at least 0.</span>
        </mat-error>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Price ($)</mat-label>
        <input matInput type="number" name="price" required [(ngModel)]="flight.price" #priceInput="ngModel" min="1"/>
      </mat-form-field>
      <mat-error *ngIf="priceInput.invalid && priceInput.touched">
        <span *ngIf="priceInput.errors?.['required']">Price is required.</span>
        <span *ngIf="priceInput.errors?.['min']">Price must be greater than 0.</span>
      </mat-error>
      

      <!-- Buttons -->
      <mat-card-actions align="start">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="editFlightForm.invalid || editFlightForm.pristine ||checkValidation() || isLandingTimeInvalid() || isLandingDateInvalid()">
          Save
        </button>
      </mat-card-actions>
      <mat-card-actions align="end">
        <button mat-raised-button color="accent" (click)="cancelEdit()">Back</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

<!-- Loading Template -->
<ng-template #loadingTemplate>
  <mat-card>
    <p>Loading flight details editor...</p>
  </mat-card>
</ng-template>