<div class="form-container">
    <mat-card class="form-card">
        <h2 class="glitter-text">Add Destination</h2>
        <form #SumbitRegistrationForm="ngForm" (ngSubmit)="onSubmitRegistration()">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput name="name" required [(ngModel)]="newDestination.name" pattern="^[a-zA-Z ]+$" />
                    <mat-error>Name must be letters only</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Airport Name</mat-label>
                    <input matInput name="airportName" required [(ngModel)]="newDestination.airportName"
                        pattern="^[a-zA-Z ]+$" />
                    <mat-error>Airport Name be letters only</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Airport Website</mat-label>
                    <input matInput name="airportWebsite" required [(ngModel)]="newDestination.airportWebsite"
                        pattern="https?:/.+" />
                    <mat-error>Airport Website format issue. URL must start with http:// or https://.</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput name="email" required email [(ngModel)]="newDestination.email">
                    <mat-error>Email format issue</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Destination Code</mat-label>
                    <input matInput name="code" required [(ngModel)]="newDestination.code" pattern="^[a-zA-Z ]+$" />
                    <mat-error>Destination code be letters only</mat-error>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Image Url</mat-label>
                    <input matInput name="imageUrl" required [(ngModel)]="newDestination.imageUrl"
                        pattern="https?:/.+" />
                    <mat-error>Must start with http:/ or https:/</mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button color="primary" type="submit" [disabled]="SumbitRegistrationForm.invalid || SumbitRegistrationForm.pristine">
                Save
            </button>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" routerLink="/manage-destinations">Back</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>