<div class="form-container">
    <mat-card class="form-card">
        <h2 class="glitter-text">New Destination</h2>
        <form #SumbitRegistrationForm="ngForm" (ngSubmit)="onSubmitRegistration()">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput name="name" required [(ngModel)]="newDestination.name" #name="ngModel"
                        pattern="^[a-zA-Z ]+$" (input)="checkNameExists()" />
                </mat-form-field>
                <mat-error *ngIf="name.invalid && name.touched">
                    <span *ngIf="name.errors?.['required']">Name is required.</span>
                    <span *ngIf="name.errors?.['pattern']">Name must be letters only.</span>
                </mat-error>
                <mat-error *ngIf="nameExists">
                    Destination name already exists. Please choose a different Name.
                </mat-error>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Airport Name</mat-label>
                    <input matInput name="airportName" required [(ngModel)]="newDestination.airportName"
                        #airportName="ngModel" pattern="^[a-zA-Z ]+$" />
                </mat-form-field>
                <mat-error *ngIf="airportName?.errors && airportName.touched">
                    <span *ngIf="airportName.errors?.['required']">Airport Name is required.</span>
                    <span *ngIf="airportName.errors?.['pattern']">Airport Name must be letters only.</span>
                </mat-error>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Airport Website</mat-label>
                    <input matInput name="airportWebsite" required [(ngModel)]="newDestination.airportWebsite"
                        #airportWebsite="ngModel" pattern="https?:/.+" />
                </mat-form-field>
                <mat-error *ngIf="airportWebsite?.errors && airportWebsite.touched">
                    <span *ngIf="airportWebsite.errors?.['required']">Airport Website is required.</span>
                    <span *ngIf="airportWebsite.errors?.['pattern']">Airport Website format issue. URL must start with
                        http:// or https://</span>
                </mat-error>
            </div>

            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput name="email" required email [(ngModel)]="newDestination.email" #email="ngModel" />
                </mat-form-field>
                <mat-error *ngIf="email?.errors && email.touched">
                    <span *ngIf="email.errors?.['required']">Email is required.</span>
                    <span *ngIf="email.errors?.['email']">Invalid email format.</span>
                </mat-error>
            </div>


            <div>
                <mat-form-field>
                    <mat-label>Destination Code</mat-label>
                    <input matInput name="code" required [(ngModel)]="newDestination.code" #code="ngModel"
                        pattern="^[A-Z]{3}$" maxlength="3" minlength="3" (input)="checkCodeExists()"
                        (keyup)="newDestination.code = newDestination.code.toUpperCase()" />
                </mat-form-field>

                <mat-error *ngIf="code.invalid && code.touched">
                    <span *ngIf="code.errors?.['required']">Code is required.</span>
                    <span *ngIf="code.errors?.['pattern']">Code must be exactly 3 uppercase letters (A-Z).</span>
                </mat-error>

                <mat-error *ngIf="codeExists">
                    Destination code already exists. Please choose a different code.
                </mat-error>
            </div>


            <div>
                <mat-form-field>
                    <mat-label>Image Url</mat-label>
                    <input matInput name="imageUrl" required [(ngModel)]="newDestination.imageUrl" #imageUrl="ngModel"
                        pattern="https?:/.+" />
                </mat-form-field>
                <mat-error *ngIf="imageUrl?.errors && imageUrl.touched">
                    <span *ngIf="imageUrl.errors?.['required']">Image URL is required.</span>
                    <span *ngIf="imageUrl.errors?.['pattern']">Image URL must start with http:/ or https:/</span>
                </mat-error>
            </div>

            <button mat-raised-button color="primary" type="submit"
                [disabled]="SumbitRegistrationForm.invalid || SumbitRegistrationForm.pristine">
                Save
            </button>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" routerLink="/manage-destinations">Back</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>