<h2 class="glitter-text">Flight Search</h2>

<!-- Filter Inputs Container -->
<div class="filter-container">
  
  <!-- Origin Filter -->
  <div class="filter-item">
    <span class="filter-label">From :</span>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Origin</mat-label>
      <mat-select [(ngModel)]="originFilter" (selectionChange)="applyFilters()" placeholder="Select origin">
        <mat-option *ngFor="let destination of activeDestinations" [value]="destination">
          {{ destination }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Destination Filter -->
  <div class="filter-item">
    <span class="filter-label">To :</span>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Destination</mat-label>
      <mat-select [(ngModel)]="destinationFilter" (selectionChange)="applyFilters()" placeholder="Select destination">
        <mat-option *ngFor="let destination of activeDestinations" [value]="destination">
          {{ destination }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Min Available Seats -->
  <div class="filter-item">
    <span class="filter-label">Passengers :</span>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Min Available Seats</mat-label>
      <input matInput type="number" [(ngModel)]="minSeatsFilter" (input)="applyFilters()" placeholder="Enter seats">
    </mat-form-field>
  </div>

  <!-- Clear Filters Button -->
  <button mat-raised-button color="warn" (click)="clearFilters()">Clear Filters</button>

</div>






<!-- Flights Table -->
<ng-container *ngIf="!isLoading; else loadingTemplate">
  <div *ngIf="filteredFlights.length > 0; else noFlightsTemplate">
    <app-flights-table [flights]="filteredFlights" [showActionsColumn]="false"></app-flights-table>
  </div>
</ng-container>

<ng-template #noFlightsTemplate>
  <div class="no-flights-message">
    <p>No matching flights available.</p>
  </div>
</ng-template>

<ng-template #loadingTemplate>
  <div class="loading-container">
    <p>Loading flights...</p>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </div>
</ng-template>
