.filter-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 100px;
}

.filter-container span {
    font-weight: bold;
    font-size: 30px;
    margin-right: 10px;
    white-space: nowrap;
}

button {
    background-color: #7e013f;
    color: white;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    mat-form-field {
        width: 100%;
    }
}

mat-form-field {
    width: 300px;
    max-width: 350px;
    height: 75px;
}