.filter-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.row {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.filter-column {
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.filter-label {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 5px;
    white-space: nowrap;
}

mat-form-field {
    width: 300px;
    max-width: 350px;
}

button {
    background-color: #7e013f;
    color: white;
    height: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .row {
        flex-direction: column;
        width: 100%;
    }

    mat-form-field {
        width: 100%;
    }
}