.h1 {
    font-size: 48px;
    font-weight: bold;
    color: #13171b;
}

.h1:hover {
    color: #d9a9eb;
    transform: scale(1.1);
}

.header-container {
    padding: 20px;
    width: 100%;
    background: linear-gradient(90deg, #00da95, #1e7de1);
}

.h2 {
    font-size: 36px; 
    font-weight: bold;
    text-align: center;
    color: black;
}


#helpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; /* גודל כפתור */
    height: 50px;
    background: linear-gradient(135deg, #ffcc80, #81c784);
    color: white;
    font-size: 24px; /* גודל פונט */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* הסרת הקו התחתון */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#helpButton:hover {
    background: linear-gradient(135deg, #81c784, #ffcc80);
    transform: scale(1.2);
}



