<h2 class="section-title">Last Minute Flights</h2>

<div class="flights-container">
  <ng-container *ngIf="lastMinuteFlights.length > 0; else noFlights">
    <mat-grid-list cols="4" rowHeight="400px" gutterSize="20px">
      <mat-grid-tile *ngFor="let flight of lastMinuteFlights">
        <app-flight-card [flight]="flight"></app-flight-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
  <ng-template #noFlights>
    <div class="no-flights-message">
      <p>No last-minute flights available at the moment.</p>
    </div>
  </ng-template>
</div>