.passenger-card {
    max-width: 70%;
    margin: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  mat-form-field {
    display: block;
    margin-bottom: 16px;
  }

  .luggage-summary {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.luggage-item {
  background-color: #d1e7fd;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  color: #084298;
}