<div>
  <mat-card class="passenger-card">
    <h2>Passenger {{ index + 1 }}</h2>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        [(ngModel)]="passenger.name"
        (ngModelChange)="onPassengerChange('name', $event)"
        placeholder="Enter name"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Passport</mat-label>
      <input
        matInput
        [(ngModel)]="passenger.passport"
        (ngModelChange)="onPassengerChange('passport', $event)"
        placeholder="Enter passport number"
      />
    </mat-form-field>
  </mat-card>
</div>