<h2 class="glitter-text">My Bookings</h2>

<div>
  <h3 class="section-title">Upcoming Bookings</h3>
  <div class="form-container">
    <div class="bookings-container">
      <app-booking-card
        *ngFor="let booking of upcomingBookings"
        [booking]="booking"
        (viewBookingEvent)="viewBooking($event)">
      </app-booking-card>
    </div>
  </div>

  <h4 class="section-title">Previous Bookings</h4>
  <div class="form-container">
    <div class="bookings-container">
      <app-booking-card
        *ngFor="let booking of previousBookings"
        [booking]="booking"
        (viewBookingEvent)="viewBooking($event)">
      </app-booking-card>
    </div>
  </div>
</div>