.date-toggle {
    display: flex;
    gap: 10px;
  }
  
  .date-toggle button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .date-toggle button.active {
    background-color: #7e013f;
    color: white;
  }
  
  .month-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  
  .month-item {
    text-align: center;
    color: black;
    background-color: #f5cece;
    padding: 20px;
    border: 1px solid #f5cece;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .month-item:hover {
    background-color: #7e013f;
    color: white;
    font-weight: bold;
  }
  .month-item.selected {
    background-color: #7e013f !important; /* Make sure it applies */
    color: white;
    font-weight: bold;
  }  
  
  .actions {
    margin-top: 10px;
    display: flex;
  }
  .actions button {
    background-color: #7e013f;
    color: white;
  }
  