.date-toggle {
    display: flex;
    gap: 10px;
  }
  
  .date-toggle button {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .date-toggle button.active {
    background-color: #7e013f;
    color: white;
  }