/* עיצוב למלבן סביב הטקסט */
.support-box {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.support-box li {
    margin: 15px 0;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.support-box li strong {
    color: #058735;
}

.support-box a {
    color: #2196F3;
    text-decoration: underline;
    font-weight: bold;
}

.support-box a:hover {
    color: #4b168d;
    text-decoration: none;
}