<mat-card class="flight-card-container">
  <div class="image-destination">
    <img mat-card-image [src]="destinationImageUrl" alt="{{ flight.destination }}" />
  </div>

  <mat-card-header>
    <mat-card-title>
      {{ flight.origin }} to {{ flight.destination }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Boarding: </strong> {{ boardingDate | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Landing: </strong> {{ landingDate | date: 'dd/MM/yyyy HH:mm' }}</p>
  </mat-card-content>

  <mat-card-actions align="end">
    <div class="button-container">
      <div [routerLink]="['/book-flight', flight.flightNo]">
        <button mat-raised-button color="primary">Book Now</button>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
