.form-card {
    padding: 24px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: white;
}

.form-field {
    margin-bottom: 16px;
    width: 50%;
}
mat-form-field {
  width: 100%;
  max-width: 215px;
}

.mat-form-field-wrapper {
  width: 100%;
}

.full-width {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

button {
    margin-bottom: 20px;
    min-width: 120px;
}

mat-error {
    font-size: 14px;
    margin-top: -20px; 
    line-height: 1.2;
}

.error-text {
    color: red;
    font-weight: bold;
    margin-top: 1px;
}