.date-picker-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

mat-form-field {
    margin-top: 10px;
    flex: 1;
    min-width: 200px;
}

.button-container {
    background-color: #7e013f;
    color: white;
    font-size: 14px;
    width: 100px;
    height: 55px;
}