<table mat-table [dataSource]="dataSource" matSort>
    <!-- Dynamic Columns -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ column | titlecase }} </th>
      <td mat-cell *matCellDef="let element">
        <!-- Check if the column is 'website' -->
        <ng-container *ngIf="column === 'website'; else checkEmailColumn">
          <a [href]="element[column]" target="_blank" rel="noopener noreferrer">
            {{ element[column] }}
          </a>
        </ng-container>
        <!-- Check if the column is 'email' -->
        <ng-template #checkEmailColumn>
          <ng-container *ngIf="column === 'email'; else checkDateColumn">
            <a [href]="'mailto:' + element[column]">
              {{ element[column] }}
            </a>
          </ng-container>
        </ng-template>
        <!-- Check if the column is a date -->
        <ng-template #checkDateColumn>
          <ng-container *ngIf="isDateColumn(column); else defaultCell">
            {{ element[column] | date: 'dd/MM/yyyy' }}
          </ng-container>
          <ng-template #defaultCell>
            {{ element[column] }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngFor="let action of actions">
          <button mat-button (click)="onAction(action.callback, element)">
            {{ action.name }}
          </button>
        </ng-container>
      </td>
    </ng-container>
  
    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['actions'])"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['actions']);"></tr>
  </table>  