  /* Flight Card Styling */
  .flight-card {
    background: linear-gradient(to bottom, hsl(231, 59%, 72%), #1a237e);
    color: white;
  }
  
  /* Form Styling */
  .form-card {
    background: #eceff1;
  }
  
  /* Passenger Card Styling */
  .passenger-card {
    background: #fafafa;
    border: 1px solid #e0e0e0;
  }
  
  /* Table Styling */
  .flight-details-table th {
    background-color: #3f51b5;
    color: white;
    text-align: left;
    padding: 8px;
  }
  
  .flight-details-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  button.mat-raised-button {
    width: auto;
    display: inline-block;
  }
  
  .passenger-card button {
    margin: 10px auto;
    display: block;
    max-width: fit-content;
  }