<h2 class="glitter-text">Manage Flights</h2>
<ng-container *ngIf="!isLoading; else loadingTemplate">
<div *ngIf="flights.length > 0; else noFlights" >
  <app-flights-table [flights]="flights"></app-flights-table>
</div>

<ng-template #noFlights>
  <p class="no-flights-message">No flights available at the moment.</p>
</ng-template>

<div class="button-container">
  <button mat-raised-button color="primary" (click)="navigateToAddFlight()">Add Flight</button>
</div></ng-container>
<ng-template #loadingTemplate>
  <div class="loading-container">
    <p>Loading Manage flights...</p>
    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
  </div>
</ng-template>