<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>OnoAir</h2>
        <p>
          Your go-to platform for managing flights, destinations, and bookings.
        </p>
      </div>
  
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li>
            <mat-icon>flight_takeoff</mat-icon>
            <a routerLink="/manage-destinations">Manage Destinations</a>
          </li>
          <li>
            <mat-icon>manage_accounts</mat-icon>
            <a routerLink="/manage-flights">Manage Flights</a>
          </li>
          <li>
            <mat-icon>search</mat-icon>
            <a routerLink="/search-flight">Search a Flight</a>
          </li>
          <li>
            <mat-icon>book_online</mat-icon>
            <a routerLink="/my-bookings">My Bookings</a>
          </li>
        </ul>
      </div>
  
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>
          <mat-icon>email</mat-icon>
          Email: <a href="mailto:support@onoair.com">supportOnoAir.com</a>
        </p>
        <p>
          <mat-icon>phone</mat-icon>
          Phone: +1-800-ONO-AIR
        </p>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>&copy; 2024 OnoAir. All Rights Reserved.</p>
    </div>
  </footer>  