<footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section about">
        <h2>OnoAir</h2>
        <p>Your go-to platform for managing flights,</p>
        <p>destinations and bookings.</p>

      </div>
      <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
          <li>
            <mat-icon>flight_takeoff</mat-icon>
            <a routerLink="/manage-destinations">Manage Destinations</a>
          </li>
          <li>
            <mat-icon>manage_accounts</mat-icon>
            <a routerLink="/manage-flights">Manage Flights</a>
          </li>
          <li>
            <mat-icon>search</mat-icon>
            <a routerLink="/search-flight">Book a Flight</a>
          </li>
          <li>
            <mat-icon>book_online</mat-icon>
            <a routerLink="/my-bookings">My Bookings</a>
          </li>
        </ul>
      </div>
  
      <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>
          <mat-icon>email</mat-icon>
          Email: <a href="mailto:support@onoair.com">supportOnoAir.com</a>
        </p>
        <p>
          <mat-icon>phone</mat-icon>
          Phone: +1-800-ONO-AIR
        </p>
      </div>

      <div class="footer-section info">
        <h2>Info</h2>
        <p>
          <mat-icon>info</mat-icon>
          <a routerLink="/about-us">About Us</a>
        </p>
        <p>
          <mat-icon>privacy_tip</mat-icon>
          <a routerLink="/privacy-policy">Privacy Policy</a>
        </p>
        <p>
          <mat-icon>security</mat-icon>
          <a routerLink="/terms-and-conditions">Terms and Conditions</a>
        </p>
      </div>
    </div>

    <div>
        <button mat-fab class="help-button" routerLink="/help-page">
            <mat-icon>help</mat-icon> </button>        
    </div>

  
    <div class="footer-bottom">
      <p>&copy; 2024 OnoAir. All Rights Reserved.</p>
    </div>

  </footer>  