html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, hsl(231, 59%, 72%), #1a237e);
    color: #333;
    min-height: 100vh;
}

@keyframes glitter {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
h2.glitter-text {
    font-size: 60px; 
    font-weight: bold;
    text-align: center;
    animation: glitter 3s ease infinite;
    font-family: 'Georgia', serif;
    color: #0c2dbd;
    text-shadow: 2px 2px 4px #444;
  }

  
/* Basic table styling */
.table-container {
  border: 2px solid #007BFF;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 0;
  table-layout: auto;
  width: auto;
  max-width: 90%;
  overflow-x: auto;
}

/* Table header styling */
th {
  word-wrap: break-word;
  font-weight: bold;
  background-color: #007BFF;
  border: 1px solid #dddddd;
  color: black;
  font-size: 20px;
  text-align: center;
  padding: 10px;
}

/* Table data cells styling */
td {
  word-wrap: break-word;
  border: 1px solid #ddd;
  font-size: 18px;
  color: #333;
  text-align: center;
  padding: 10px;
}
  
  /* Alternating row colors */
  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tr:nth-child(even) {
    background-color: #ffffff;
  }
  
  /* Hover effect for rows */
  tr:hover {
    background-color: #e9f7fe;
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
  }
  
  /* Styling for images inside table cells */
  td img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  /* Hover effect for images */
  td img:hover {
    transform: scale(1.1);
  }

  button.bold-button {
    font-weight: bold;
  }

  .section-title {
    font-size: 48px;
    color: #150590;
    font-weight: bold;
    margin: 30px;
    padding-left: 20px;
    font-family: 'Georgia', serif;
    text-shadow: 2px 2px 4px #444;
  }

  .no-flights-message {
    text-align: center;
    font-size: 24px;
    color: black;
    margin: 20px 0;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    bottom: 10px;
    right: 10px;
  }
  
  .button-container button {
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px; 
    transition: transform 0.3s ease;
    margin: 20px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background: linear-gradient(to bottom, #8c7bcb, #8ab4db);
    padding: 20px;
    border-radius: 16px;
    max-width: 80%;
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; /* Full viewport height */
    text-align: center;
    gap: 1rem; /* Space between the text and the progress bar */
  }
  
  .loading-container p {
    font-size: 1.2rem;
    color: #7e013f; /* Subtle text color */
    margin: 0;
  }