/* Styling for an informational box with a glowing effect */
.info-box {
    padding: 20px;
    border: 2px solid #aa01d9;
    border-radius: 10px;
    background-color: #f4f4f4;
    text-align: left;
    width: 60%;
    font-size: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: box-shadow 0.3s, transform 0.3s;
}

/* Pseudo-element for the glowing animation around the informational box */
.info-box::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 10px;
    border: 2px solid rgba(0, 123, 255, 0.6);
    animation: glow 3s infinite;
    pointer-events: none;
}

/* Styling for individual passenger containers */
.passenger-container {
    width: 40%;
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #030e88b8;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Styling for labels inside passenger containers */
.passenger-container strong {
    display: block;
    text-align: left;
    font-size: 18px;
}