.header-container {
  background-image: url('https://www.elal.com/media/1tddsxlq/airplane-desktop.jpg');
  background-size: cover;
  background-position: center;
  color: black;
  min-height: 220px;
  height: 20vh;
}

.menu-button {
  color: white;
  background-color: #152ba9;
  border-radius: 12px;
  width: 60px;
  height: 60px;
  transition: background-color 0.3s ease;
  padding: 0;
}

.menu-button:hover {
  background-color: #215f9a;
}

.menu-button mat-icon {
  font-size: 60px;
  color: white;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.header-container h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #3f51b5;
  margin-left: 24px;
  height: 25px;
  font-family: 'Georgia', serif;
  text-shadow: 2px 2px 4px #444;
}

.header-container h1 a {
  color: blue;
  text-decoration: none;
  font-size: 60px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.header-container h1 a:hover {
  color: whitesmoke;
  transform: scale(1.1);
}