<div>
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="flightNo.">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight No. </th>
      <td mat-cell *matCellDef="let element"> {{ element.flightNo }} </td>
    </ng-container>
    
    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Origin </th>
      <td mat-cell *matCellDef="let element"> {{ element.origin }} </td>
    </ng-container>
    
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Destination </th>
      <td mat-cell *matCellDef="let element"> {{ element.destination }} </td>
    </ng-container>
    
    <ng-container matColumnDef="boarding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Boarding </th>
      <td mat-cell *matCellDef="let element"> {{ element.boarding | date: 'dd/MM/yyyy HH:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="landing">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Landing </th>
      <td mat-cell *matCellDef="let element"> {{ element.landing | date: 'dd/MM/yyyy HH:mm' }} </td>
    </ng-container>
    
    <ng-container matColumnDef="seats">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Seats </th>
      <td mat-cell *matCellDef="let element"> {{ element.seats }} </td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <div [routerLink]="['/flight-details', element.flightNo]">
        <button mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        </div>
    </ng-container>

    <ng-container matColumnDef="book">
      <th mat-header-cell *matHeaderCellDef> Book </th>
      <td mat-cell *matCellDef="let element">
        <div [routerLink]="['/book-flight', element.flightNo]">
          <button mat-button color="primary" class="bold-button">Book</button>
        </div>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

