<mat-card *ngIf="bookingDetails; else noDetails">
    <h2 class="glitter-text">Booking Details</h2>
    <mat-divider></mat-divider>
    <p><strong>Booking Code:</strong> {{ bookingCode }}</p>
    <p><strong>Origin:</strong> {{ bookingDetails.flight.origin }}</p>
    <p><strong>Boarding:</strong> {{ bookingDetails.flight.boarding | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Destination:</strong> {{ bookingDetails.flight.destination }}</p>
    <p><strong>Landing:</strong> {{ bookingDetails.flight.landing | date: 'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>No. of Passengers:</strong> {{ bookingDetails.flight.passengerCount }}</p>
  
    <div *ngFor="let passenger of bookingDetails.passengers; let i = index">
      <h3>Passenger {{ i + 1 }}</h3>
      <p><strong>Name:</strong> {{ passenger.name }}</p>
      <p><strong>Passport no.:</strong> {{ passenger.passport }}</p>
    </div>
  </mat-card>
  
  <ng-template #noDetails>
    <mat-card>
      <h2>No booking details available!</h2>
    </mat-card>
  </ng-template>  