<div class="form-container">
    <mat-card class="form-card">
        <h2 class="glitter-text">Add Flight</h2>
        <form #SumbitRegistrationForm="ngForm" (ngSubmit)="onSumbitRegistration()">
            <div class="error-right">
                <mat-form-field>
                    <mat-label>Flight No.</mat-label>
                    <input matInput name="flightNo" required [(ngModel)]="newFlight.flightNo" #flightNo="ngModel"
                        pattern="^[a-zA-Z0-9]+$" />
                </mat-form-field>
                <mat-error *ngIf="flightNo.invalid && flightNo.dirty && flightNo.value">
                    <span *ngIf="flightNo.hasError('required')">Flight No. is required.</span>
                    <span *ngIf="flightNo.hasError('pattern')">Flight No. must contain only letters or numbers.</span>
                </mat-error>
            </div>

            <div class="error-right">
                <mat-form-field appearance="fill">
                    <mat-label>Origin</mat-label>
                    <mat-select [(ngModel)]="newFlight.origin" name="origin" required #origin="ngModel">
                        <mat-option *ngFor="let destination of destinations" [value]="destination">
                            {{ destination }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error *ngIf="(origin.dirty || origin.touched) && newFlight.origin === newFlight.destination">
                    Origin and destination cannot be the same.
                </mat-error>
            </div>

            <div class="error-right">
                <mat-form-field appearance="fill">
                    <mat-label>Destination</mat-label>
                    <mat-select [(ngModel)]="newFlight.destination" name="destination" required #destination="ngModel">
                        <mat-option *ngFor="let destination of destinations" [value]="destination">
                            {{ destination }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-error
                    *ngIf="(destination.dirty || destination.touched) && newFlight.origin === newFlight.destination">
                    Origin and destination cannot be the same.
                </mat-error>
            </div>

            <div class="error-right">
                <mat-form-field>
                    <mat-label>Boarding</mat-label>
                    <input matInput name="boarding" required [(ngModel)]="newFlight.boarding" #boarding="ngModel"
                        type="datetime-local" />
                </mat-form-field>
                <mat-error *ngIf="(boarding.dirty) && boarding.value && !isBoardingInFuture()">
                    Boarding time must be in the future.
                </mat-error>
                <mat-error *ngIf="(boarding.dirty) && boarding.value && !isBoardingBeforeLanding()">
                    Boarding time must be before landing time.
                </mat-error>
            </div>

            <div class="error-right">
                <mat-form-field>
                    <mat-label>Landing</mat-label>
                    <input matInput name="landing" required [(ngModel)]="newFlight.landing" #landing="ngModel"
                        type="datetime-local" />
                </mat-form-field>
                <mat-error *ngIf="(landing.dirty) && landing.value && !isBoardingBeforeLanding()">
                    Boarding time must be before landing time.
                </mat-error>
            </div>

            <div class="error-right">
                <mat-form-field>
                    <mat-label>No. of Seats</mat-label>
                    <input matInput name="seats" required [(ngModel)]="newFlight.seats" #seats="ngModel" type="number"
                        min="1" />
                </mat-form-field>
                <mat-error *ngIf="(seats.dirty || seats.touched) && (seats.hasError('required') || seats.value <= 0)">
                    <span *ngIf="seats.hasError('required')">Number of seats is required.</span>
                    <span *ngIf="seats.value <= 0">Number of seats must be greater than 0.</span>
                </mat-error>
            </div>

            <button mat-raised-button color="primary" type="submit"
                [disabled]="SumbitRegistrationForm.invalid || SumbitRegistrationForm.pristine">
                Save
            </button>

            <mat-card-actions align="end">
                <button mat-raised-button color="primary" routerLink="/manage-flights">Back</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>