.booking-card {
  margin: 20px auto;
  padding: 30px;
  width: 60%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #3f51b5;
}

.booking-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3), inset 0px 3px 6px rgba(255, 255, 255, 0.3);
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh; /* Full viewport height */
  text-align: center;
  gap: 1rem; /* Space between the text and the progress bar */
}

.loading-container p {
  font-size: 1.2rem;
  color: #7e013f; /* Subtle text color */
  margin: 0;
}