.booking-card {
  margin: 20px auto;
  padding: 30px;
  width: 60%;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border-radius: 15px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #3f51b5;
}

.booking-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3), inset 0px 3px 6px rgba(255, 255, 255, 0.3);
}

.luggage-tags {
  display: flex;
  gap: 8px;
  margin-top: 5px;
}

.luggage-tag {
  background-color: #d9e6f7;
  color: #002855;
  padding: 5px 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 14px;
}