.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-field {
  width: 100%;
  max-width: 500px;
}

.mat-form-field {
  width: 100%;
}

.no-flights-message {
  text-align: center;
  font-size: 36px;
  color: black;
  margin: 20px 0;
}
